@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.cdnfonts.com/css/lato");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  min-width: 375px;
  font-family: 'Lato', sans-serif;

}

section {
  width: 100%;
}

header {
  height: 9vh;
  min-width: 100vw;
  display: flex;
}

a {
  text-decoration: none;
}

p {
  color: #272a31;
}

li {
  list-style: none;
}

.navigator-menu {
  width: fit-content;
  height: fit-content;
  margin-top: 3vh;
  margin-left: 5vw;
}

.navigator-menu__burger {
  width: 5vw;
  max-width: 50px;
  min-width: 30px;
}

.orange {
  color: #ec5242;
}

.main-section {
  margin-top: 7vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(/images/backgroundMain.png) ;
  background-position: bottom 92% right 46%;
}

.main-section__container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section__titles {
  align-self: flex-start;
}

.main-section__main-title {
  font-size: 2.2rem;
  font-family: 'Cocogoose', sans-serif;
  line-height: 35px;
  font-weight: 500;
}

.main-section__small-title {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

.main-section__text {
  margin-top: 4vh;
  width: 86vw;
}

.main-section__parragraph {
  font-size: .9rem;
  margin-bottom: 3vh;
}

.main-section__second-text {
  width: 90vw;
}

.main-section__number-sells {
  font-size: 1.4rem;
  font-weight: 580;
  font-family: 'Cocogoose', sans-serif;
  color: rgb(71, 71, 73);
  line-height: 25px;
  margin-bottom: 0.7vh;
}

.main-section__encourage {
  font-size: 1rem;
  margin-bottom: 9vh;
  line-height: 20px;
}

.options-section {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(/images/patternBackground.png);
}

.background {
  background: #272a31;
}

.options-section__container {
  width: 90vw;
}

.options-section__title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3vh 0;
}

.options-section__title {
  color: #d3d3d3;
  font-size: 1.2rem;
  font-weight: 500;
}

.white {
  color: #d3d3d3;
}

.options-section__list-content {
  display: flex;
  align-items: center;
  background: rgba(255,255,255,.1);
  margin: 2.5vw 0;
}

.options-section__image {
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3vw;
  margin-right: 5vw;
}

.options-section__action {
  width: 22vw;
}

.options-section__description {
  width: 40vw;
  font-size: .8rem;
  margin: 3vw;
}

.image {
  width: 10vw;
}

.last-list {
  margin-bottom: 0;
}

.options-section__p {
  font-weight: 560;
  font-size: .9rem;
}

.options-section__button-container {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.options-section__button {
  background: #ec5242;
  color: #d3d3d3;
  border-style: none;
  height: 7vh;
  width: 73vw;
  font-size: 1rem;
}

.footer-section {
  height: 35vh;
  width: 100%;
}

.footer-section__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-section__first-part {
  background: #333;
}

.footer-section__list-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}

.footer-section__title-container {
  margin: 4vh 0 3vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-section__title {
  color: #d3d3d3;
  font-size: 1.2rem;
  font-weight: 500;
}

.footer-section__first-logos {
  display: flex;
}

.footer-section__last-logos {
  display: flex;
}

.footer-section__second-part {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-section_text-container {
  margin: 4vh;
  margin-left: 0;
}

.footer-section__small-text {
  font-size: .67rem;
  line-height: 17px;
}

.footer-section__image {
  width: 25vw;
  margin: 2.5vw;
  filter: grayscale(100%);
}

.footer-section__logo-container {
  width: 38vw;
}

.footer-section__logo {
  width: 23vw;
  float: left;
}

.naver {
  margin-top: 3.5vw;
}

.kakao {
  scale: 0.7;
  margin-top: 4.2vw;
}
